*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Montserrat', sans-serif;
    color: var(--ligth-dark)
}

:root{
    --ligth-dark:#232323;
    --dark-gray: radial-gradient(circle at 79.77% 85.48%, #4d5156 0, #4e5156 3.33%, #4f5156 6.67%, #505156 10%, #505056 13.33%, #515056 16.67%, #525055 20%, #535055 23.33%, #544f54 26.67%, #554f53 30%, #554f53 33.33%, #564f52 36.67%, #564f51 40%, #574f51 43.33%, #574f50 46.67%, #574f4f 50%, #574f4e 53.33%, #574f4e 56.67%, #574f4d 60%, #56504d 63.33%, #56504c 66.67%, #55504c 70%, #55504b 73.33%, #54504b 76.67%, #53514b 80%, #52514b 83.33%, #51514b 86.67%, #50514c 90%, #50524c 93.33%, #4f524d 96.67%, #4e524d 100%);
    --light-gray: #efefef;
    --medium-gray2: #c4c4c4;
    --medium-gray: radial-gradient(circle at 20.65% 74.63%, #90959a 0, #91949a 3.33%, #92949a 6.67%, #93949a 10%, #94939a 13.33%, #959399 16.67%, #969399 20%, #979398 23.33%, #989398 26.67%, #989297 30%, #999296 33.33%, #9a9295 36.67%, #9a9295 40%, #9b9294 43.33%, #9b9293 46.67%, #9b9292 50%, #9b9291 53.33%, #9b9290 56.67%, #9b9290 60%, #9a938f 63.33%, #9a938f 66.67%, #99938e 70%, #98938e 73.33%, #97948e 76.67%, #97948e 80%, #96948e 83.33%, #95948e 86.67%, #94958e 90%, #93958f 93.33%, #92958f 96.67%, #919590 100%);
    --red:#e44e4e;
    --green:radial-gradient(circle at 84.12% 98.73%, #69c958 0, #54cb64 25%, #38cd70 50%, #00ce7d 75%, #00d08a 100%);
    --yellow: radial-gradient(circle at 65.95% 93.83%, #ffda0e 0, #ffe002 25%, #ffe500 50%, #f0ea09 75%, #e0ee18 100%);
}

html, body{
    width: 100%;
}